*{
box-sizing: border-box;
}
.body{
padding: 0;
font-family: "Helvetica Neue", Helvetica Arial, sans-serif;
color: #444;
}
.header{
background-color: deepskyblue;
border-style: double;
}
.navbar{
overflow: hidden;
background-color: cyan;
border-style: double;
}
.navbar a{
display: block;
float: left;
color: black;
text-align: center;
padding: 14px 20px;
text-decoration: none;
}
.navbar a:hover{
background-color: ghostwhite;
color: black;
}
.grid-container{
display: inline-grid;
grid-template-columns: auto 100px;
}
.item{
border: solid;
padding: 15px;
}
.wrapper{
display: table;
width: 100%
}
.table{
display: table-row;
}
.my_team{
float: left;
width: 20%;
border: solid;
}
.available{
float: left;
width: 80%;
border: solid;
padding: 10px;
}
.recent{
float: left;
width: 20%;
border: solid;
}
table, tr, td, th{
border-color: blue;
border-style: solid;
border-collapse: collapse;
text-align: center;
}
.drop{
background-color: deepskyblue;
color: black;
padding: 10px;
font-size: 20px;
border: solid;
cursor: pointer;
}
.drop:hover, .drop:focus{
background-color: deepskyblue;
}
.dropdown{
position: relative;
display: inline-block;
padding: 10px;
}
.dropdown-event{
display: none;
position: center;
background-color: white;
min-width: 95px;
border: none;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}
.dropdown-event a{
color: blue;
padding: 20px;
text-decoration: none;
display: block;
}
.show{
display: block;
}
#pitchers{
display: block;
}
#batters{
display: none;
}
button{
float: center;
color: black;
text-align: center;
padding: 14px 20px;
text-decoration: none;
border: none;
background-color: cyan;
}
button:hover{
background-color: white;
color: black;
}
.table-sort-col-asc{
    color: blue;
    background-color: lightgray;
}
.table-sort-col-desc{
    color: blue;
    background-color: lightgray;
}
h2{
    padding: 10px;
}
h3{
    padding: 10px;
}
ul{
    color: blue;
    list-style-type: none;
    font-size: 20px;
    padding: 10px;
}
@media screen and (max-width: 700px) {
  row {
    flex-direction: column;
  }
}
@media screen and (max-width: 400px) {
  navbar a {
    float: none;
    width: 100%;
  }
}