<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Add Players</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_players.css') }}">
</head>
<body>
  <div class="header">
    <h1>Add Players</h1>
  </div>
  <div class="navbar">
      <a href="my-team" class="button">My Team</a>
      <a href="compare-teams" class="button">Compare Teams</a>
      <a href="draft-room" class="button">Draft Room</a>
      <a href="login" class="button">Login</a>
      <form action="{{ url_for('handle_logout') }}" method="post">
                <button onclick="logout" class="button" type="submit">Logout</button>
      </form>
  </div>
  <div class="body">
    <div class="dropdown">
        <button onclick="myFunction()" class="drop">Pitchers</button>
        <div id="myDropdown" class="dropdown-event">
          <a href="#pitchers" class="button">Pitchers</a>
          <a href="#batters" class="button">Batters</a>
          <a href="#catchers" class="button">C</a>
          <a href="#first-basemen" class="button">1B</a>
          <a href="#second-basemen" class="button">2B</a>
          <a href="#third-basemen" class="button">3B</a>
          <a href="#shortstops" class="button">SS</a>
          <a href="#left-fielders" class="button">LF</a>
          <a href="#center-fielders" class="button">CF</a>
          <a href="#right-fielders" class="button">RF</a>
          <a href="#designated-hitters" class="button">DH</a>
          <a href="#starting-pitchers" class="button">SP</a>
          <a href="#relief-pitchers" class="button">RP</a>
      </div>
    </div>
      <div class="search">
          <input type="text" placeholder="Player Search">
      </div>
  </div>
    <table width="100%">
    </table>

<script src="static/js/add_players.js"></script>
</body>
</html>