<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Draft Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/draft_room.css') }}">
</head>
<body>
    <div class="header">
        <h1>Draft Room</h1>
    </div>
    <div class="navbar">
        <a href="my-team" class="button">My Team</a>
        <a href="compare-teams" class="button">Compare Teams</a>
        <a href="login" class="button">Login</a>
        <form action="{{ url_for('handle_logout') }}" method="post">
                <button onclick="logout" class="button" type="submit">Logout</button>
        </form>
    </div>
    <div class="wrapper">
                <div class="my_team">
                    <h2>My Team</h2>
                    <h3>Batters</h3>
                    <ul id="batter-list" width="100%"></ul>
                    <h3>Pitchers</h3>
                    <ul id="pitcher-list" width="100"></ul>
                </div>
            <div class="available">
                <h2>Available Players</h2>
                <div class="dropdown">
                    <button  id="dropButton" onclick="myFunction()" class="drop">Batters</button>
                    <div id="myDropdown" class="dropdown-event">
                        <button onclick="showAvailablePitchers()">Pitchers</button>
                        <button onclick="showAvailableBatters()">Batters</button>
                    </div>
                </div>
                <div id="players" class="batters">
                    <table id="player-table" width="100%">
                    </table>
                </div>
        </div>
    </div>
    <script src="static/js/draft_room.js"></script>
</body>
</html>