<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Draft Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/draft_room.css') }}">
</head>
<body>
    <div class="header">
        <h1>Draft Room</h1>
    </div>
    <div class="navbar">
        <a href="my-team" class="button">My Team</a>
        <a href="add-players" class="button">Add Players</a>
        <a href="standings" class="button">Standings</a>
        <a href="scoreboard" class="button">Scoreboard</a>
    </div>
    <div class="wrapper">
        <div class="table">
                <div class="my_team">
                    <h2>My Team</h2>
                    <div class="grid-container">
                        <div class="item">C</div>
                        <div class="item">---</div>
                        <div class="item">1B</div>
                        <div class="item">---</div>
                        <div class="item">2B</div>
                        <div class="item">---</div>
                        <div class="item">3B</div>
                        <div class="item">---</div>
                        <div class="item">SS</div>
                        <div class="item">---</div>
                        <div class="item">LF</div>
                        <div class="item">---</div>
                        <div class="item">CF</div>
                        <div class="item">---</div>
                        <div class="item">RF</div>
                        <div class="item">---</div>
                        <div class="item">DH</div>
                        <div class="item">---</div>
                        <div class="item">P</div>
                        <div class="item">---</div>
                        <div class="item">P</div>
                        <div class="item">---</div>
                        <div class="item">P</div>
                        <div class="item">---</div>
                        <div class="item">P</div>
                        <div class="item">---</div>
                        <div class="item">P</div>
                        <div class="item">---</div>
                        <div class="item">P</div>
                        <div class="item">---</div>
                        <div class="item">P</div>
                        <div class="item">---</div>
                    </div>
                </div>
            <div class="available">
                <h2>Available Players</h2>
                <div class="dropdown">
                    <button onclick="myFunction()" class="drop">Batters</button>
                    <div id="myDropdown" class="dropdown-event">
                        <button onclick="showAvailablePitchers()">Pitchers</button>
                        <button onclick="showAvailableBatters()">Batters</button>
                    </div>
                </div>
                <div id="players" class="batters">
                    <table id="player-table" width="100%">
                    </table>
                </div>
            </div>
            <div class="recent">
                <h2>Recent Picks</h2>
                <table width="100%">
                </table>
            </div>
        </div>
    </div>
    <script src="static/js/draft_room.js"></script>
</body>
</html>